# .gitignore
# Archivos de configuración sensibles
.env

# ----------------------------------------
# Dependencias (no se deben subir al repo)
node_modules/
bower_components/

# ----------------------------------------
# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ----------------------------------------
# Archivos del sistema operativo
.DS_Store
Thumbs.db
Icon?

# ----------------------------------------
# Producción / compilación (si aplica)
dist/
build/
.cache/
.next/
out/

# ----------------------------------------
# Editor de código y entorno de desarrollo
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.log

# ----------------------------------------
# Otros
*.tgz
*.zip
*.tar.gz
